<div class="flex min-w-0 gap-x-4 ml-1 mr-1" [ngClass]="{' reverse': !itsMyPost()}">
    <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="assets/user.png" alt="">
    <div class="min-w-0 flex-auto" >
      <p class="text-sm font-semibold leading-6 text-secondary">{{postInfo.username}} -  <span class="text-sm  leading-6 text-gray">{{postInfo.createat | date}}</span></p>
      <p class="text-sm font-semibold leading-6 text-primary">{{postInfo?.title}}</p>
      <p class="text-sm font-semibold leading-6 text-gray">{{postInfo.description}}</p>
      <p ></p>
    </div>
    <div class="mt-6">
      <h4 class="sr-only">Reviews</h4>
      <div class="flex items-center">
        <a  *ngIf="itsMyPost()" (click)="loadToForm()" class="ml-3 text-sm font-medium text-primary hover:text-primary">Editar</a>
      </div>
      <a  *ngIf="itsMyPost()" (click)="deleteCard()" class="ml-3 text-sm font-medium text-likes hover:text-likes">Eliminar</a>
    </div>
  </div>