

  <div class="min-h-full" >
    <nav class="bg-gray-800">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <img class="h-8 w-8" src="assets/logoDark.svg"  alt="Your Company">
            </div>
            <div class="hidden md:block">
             
            </div>
          </div>
          <div >
            <div class="ml-4 flex items-center md:ml-6">
             
  
              <!-- Profile dropdown -->
              <div class="relative ml-3">
                <div>
                  <button (click)="modalAction()"  type="button" class="relative flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only">Open user menu</span>
                    <img class="h-8 w-8 rounded-full" src="assets/user.png" alt="">
                  </button>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Mobile menu, show/hide based on menu state. -->
  
    </nav>
    <header class="bg-white shadow pb-1 pt-1">
      <app-form-insert-post  [postToEdit]="postEdit" (callApiPosts)="createPost($event)"></app-form-insert-post>
      </header>
    <main>
      <div class="flex justify-center  mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
        <ul role="list" class="divide-y divide-gray-100" >
            <li class="flex justify-between gap-x-6 py-5" *ngFor="let post of listPosts">
                <app-card-info [postInfo]="post" (editAction)="callDeletePostApi($event)" (editAction)="loadPostForm($event)"></app-card-info>
            </li>
          
        </ul>
      </div>
    </main>
  </div>

  <div *ngIf="showSideBar"  class="relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
    <!--
      Background backdrop, show/hide based on slide-over state.
  
      Entering: "ease-in-out duration-500"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in-out duration-500"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  
    <div class="fixed inset-0 overflow-hidden">
      <div class="absolute inset-0 overflow-hidden">
        <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
          <!--
            Slide-over panel, show/hide based on slide-over state.
  
            Entering: "transform transition ease-in-out duration-500 sm:duration-700"
              From: "translate-x-full"
              To: "translate-x-0"
            Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
              From: "translate-x-0"
              To: "translate-x-full"
          -->
          <div class="pointer-events-auto w-screen max-w-md">
            <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
              <div class="flex-1 overflow-y-auto px-4 py-6 sm:px-6">
                <div class="flex items-start justify-between">
                  <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Profile</h2>
                  <div class="ml-3 flex h-7 items-center">
                    <button (click)="modalAction()" type="button" class="relative -m-2 p-2 text-gray-400 hover:text-gray-500">
                      <span class="absolute -inset-0.5"></span>
                      <span class="sr-only">Close panel</span>
                      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </button>
                  </div>
                </div>
  
                <div class="mt-8">
                  <div class="flow-root">
                    <ul role="list" class="-my-6 divide-y divide-gray-200">
                      <li class="flex py-6">
                        <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                          <img src="assets/user.png" alt="Salmon orange fabric pouch with match zipper, gray zipper pull, and adjustable hip belt." class="h-full w-full object-cover object-center">
                        </div>
  
                        <div class="ml-4 flex flex-1 flex-col">
                          <div>
                            <div class="flex justify-between text-base font-medium text-gray-900">
                              <h3>
                                <a href="#">{{user.fullname}}</a>
                              </h3>
                              <p class="ml-4"></p>
                            </div>
                            <p class="mt-1 text-sm text-gray-500">{{user.email}}  </p>
                          </div>
                          <div class="flex flex-1 items-end justify-between text-sm">
                            <p class="text-gray-500">{{user.age}} años</p>
  
                          </div>
                        </div>
                      </li>
                      <li class="flex py-6">
                       
                        <div class="ml-4 flex flex-1 flex-col">
                          <div class="flex">
                            <button type="button"(click)="signOutAction()" class="font-medium text-indigo-600 hover:text-indigo-500">Cerrar Session</button>
                          </div>
                        </div>
                      </li>
  
                      <!-- More products... -->
                    </ul>
                  </div>
                </div>
              </div>
  
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>